<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="site-footer">
    <a target="/blank" href="https://linkedin.com/in/{{site.linkedin_username}}"><i class="fa fa-brands fa-linkedin fa-3x"></i></a>
    <a target="/blank" href="https://github.com/{{site.github_username}}"><i class="fa fa-brands fa-github fa-3x"></i></a>
    <a target="/blank" href="mailto:{{site.email}}"><i class="fa fa-solid fa-envelope fa-3x"></i></a>
  </div>

</footer>
